swagger: "2.0"
info:
  title: Legacy Inventory API
  version: 1.4.2
  description: |
    Warehouse inventory management system.

    This API has been in production since 2018 and uses Swagger 2.0.
  contact:
    name: Platform Team
    email: platform@warehouse.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://warehouse.io/terms

host: api.warehouse.io
basePath: /v1
schemes:
  - https
  - http

consumes:
  - application/json
produces:
  - application/json

tags:
  - name: Items
    description: Warehouse item management
  - name: Locations
    description: Storage location tracking
  - name: Shipments
    description: Inbound and outbound shipments

securityDefinitions:
  basicAuth:
    type: basic
    description: HTTP Basic authentication
  apiKey:
    type: apiKey
    in: header
    name: X-Warehouse-Key
    description: API key from admin panel

security:
  - apiKey: []

paths:
  /items:
    get:
      tags:
        - Items
      summary: List inventory items
      operationId: listItems
      security:
        - apiKey: []
        - basicAuth: []
      parameters:
        - name: category
          in: query
          type: string
          description: Filter by category
          enum:
            - electronics
            - furniture
            - clothing
            - food
            - raw-materials
        - name: inStock
          in: query
          type: boolean
          description: Only show items currently in stock
        - name: minQuantity
          in: query
          type: integer
          minimum: 0
          description: Minimum quantity threshold
        - name: limit
          in: query
          type: integer
          default: 50
          minimum: 1
          maximum: 200
        - name: offset
          in: query
          type: integer
          default: 0
          minimum: 0
      responses:
        200:
          description: List of items
          headers:
            X-Total-Count:
              type: integer
              description: Total items matching filter
            X-Page-Size:
              type: integer
              description: Items per page
          schema:
            type: array
            items:
              $ref: '#/definitions/Item'
        401:
          description: Not authenticated
          schema:
            $ref: '#/definitions/Error'

    post:
      tags:
        - Items
      summary: Add new item
      operationId: createItem
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ItemCreate'
      responses:
        201:
          description: Item created
          headers:
            Location:
              type: string
              description: URL of created item
          schema:
            $ref: '#/definitions/Item'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/Error'
        409:
          description: SKU already exists
          schema:
            $ref: '#/definitions/Error'

  /items/{itemId}:
    parameters:
      - name: itemId
        in: path
        required: true
        type: string
        description: Item SKU or numeric ID
    get:
      tags:
        - Items
      summary: Get item details
      operationId: getItem
      responses:
        200:
          description: Item details
          schema:
            $ref: '#/definitions/Item'
        404:
          description: Item not found
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Items
      summary: Update item
      operationId: updateItem
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ItemCreate'
      responses:
        200:
          description: Item updated
          schema:
            $ref: '#/definitions/Item'
        404:
          description: Item not found
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Items
      summary: Remove item from inventory
      operationId: deleteItem
      description: Permanently removes the item. Use PATCH to set quantity to 0 instead if you want to keep the record.
      deprecated: true
      responses:
        204:
          description: Item deleted
        404:
          description: Item not found
          schema:
            $ref: '#/definitions/Error'
    patch:
      tags:
        - Items
      summary: Adjust item stock
      operationId: adjustStock
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - adjustment
            properties:
              adjustment:
                type: integer
                description: Positive to add, negative to remove
              reason:
                type: string
                description: Reason for adjustment
                enum:
                  - received
                  - sold
                  - damaged
                  - returned
                  - audit-correction
              notes:
                type: string
                maxLength: 500
      responses:
        200:
          description: Stock adjusted
          schema:
            $ref: '#/definitions/Item'
        400:
          description: Invalid adjustment
          schema:
            $ref: '#/definitions/Error'

  /items/{itemId}/history:
    get:
      tags:
        - Items
      summary: Get item stock history
      operationId: getItemHistory
      parameters:
        - name: itemId
          in: path
          required: true
          type: string
        - name: since
          in: query
          type: string
          format: date
          description: Start date for history
        - name: until
          in: query
          type: string
          format: date
          description: End date for history
      responses:
        200:
          description: Stock adjustment history
          schema:
            type: array
            items:
              $ref: '#/definitions/StockEvent'

  /locations:
    get:
      tags:
        - Locations
      summary: List warehouse locations
      operationId: listLocations
      parameters:
        - name: zone
          in: query
          type: string
          enum:
            - A
            - B
            - C
            - D
            - cold-storage
        - name: available
          in: query
          type: boolean
          description: Only show locations with available capacity
      responses:
        200:
          description: List of locations
          schema:
            type: array
            items:
              $ref: '#/definitions/Location'

    post:
      tags:
        - Locations
      summary: Create warehouse location
      operationId: createLocation
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LocationCreate'
      responses:
        201:
          description: Location created
          schema:
            $ref: '#/definitions/Location'
        400:
          description: Invalid location data
          schema:
            $ref: '#/definitions/Error'

  /locations/{locationId}/assign:
    post:
      tags:
        - Locations
      summary: Assign item to location
      operationId: assignItemToLocation
      parameters:
        - name: locationId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - itemId
              - quantity
            properties:
              itemId:
                type: string
              quantity:
                type: integer
                minimum: 1
      responses:
        200:
          description: Item assigned
        400:
          description: Insufficient capacity or invalid item
          schema:
            $ref: '#/definitions/Error'

  /shipments:
    get:
      tags:
        - Shipments
      summary: List shipments
      operationId: listShipments
      parameters:
        - name: direction
          in: query
          type: string
          required: true
          enum:
            - inbound
            - outbound
        - name: status
          in: query
          type: string
          enum:
            - pending
            - in-transit
            - received
            - dispatched
            - cancelled
      responses:
        200:
          description: List of shipments
          headers:
            X-Total-Count:
              type: integer
              description: Total shipments matching filter
          schema:
            type: array
            items:
              $ref: '#/definitions/Shipment'

    post:
      tags:
        - Shipments
      summary: Create shipment
      operationId: createShipment
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ShipmentCreate'
      responses:
        201:
          description: Shipment created
          schema:
            $ref: '#/definitions/Shipment'
        400:
          description: Invalid shipment data
          schema:
            $ref: '#/definitions/Error'

  /shipments/{shipmentId}/receive:
    post:
      tags:
        - Shipments
      summary: Mark shipment as received
      operationId: receiveShipment
      description: Confirms receipt of an inbound shipment and updates inventory quantities.
      parameters:
        - name: shipmentId
          in: path
          required: true
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              receivedBy:
                type: string
                description: Name of person receiving
              notes:
                type: string
              discrepancies:
                type: array
                items:
                  type: object
                  properties:
                    itemId:
                      type: string
                    expectedQuantity:
                      type: integer
                    actualQuantity:
                      type: integer
                    reason:
                      type: string
      responses:
        200:
          description: Shipment received and inventory updated
          schema:
            $ref: '#/definitions/Shipment'
        400:
          description: Shipment not in receivable state
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Shipment not found
          schema:
            $ref: '#/definitions/Error'

definitions:
  Item:
    type: object
    properties:
      id:
        type: integer
        format: int64
      sku:
        type: string
      name:
        type: string
      description:
        type: string
      category:
        type: string
        enum:
          - electronics
          - furniture
          - clothing
          - food
          - raw-materials
      quantity:
        type: integer
      unit:
        type: string
        enum:
          - pieces
          - kg
          - liters
          - pallets
        default: pieces
      unitCost:
        type: number
        format: float
      location:
        type: string
        description: Primary storage location code
      reorderPoint:
        type: integer
        description: Quantity threshold for reorder alert
        minimum: 0
      lastReceived:
        type: string
        format: date-time
      createdAt:
        type: string
        format: date-time

  ItemCreate:
    type: object
    required:
      - sku
      - name
      - category
    properties:
      sku:
        type: string
        minLength: 3
        maxLength: 20
        pattern: '^[A-Z0-9\-]+$'
        description: 'Unique stock keeping unit (uppercase alphanumeric + hyphens)'
      name:
        type: string
        minLength: 1
        maxLength: 200
      description:
        type: string
        maxLength: 1000
      category:
        type: string
        enum:
          - electronics
          - furniture
          - clothing
          - food
          - raw-materials
      quantity:
        type: integer
        minimum: 0
        default: 0
      unit:
        type: string
        enum:
          - pieces
          - kg
          - liters
          - pallets
        default: pieces
      unitCost:
        type: number
        format: float
        minimum: 0
      reorderPoint:
        type: integer
        minimum: 0
        default: 10

  StockEvent:
    type: object
    properties:
      id:
        type: integer
        format: int64
      itemId:
        type: string
      adjustment:
        type: integer
      previousQuantity:
        type: integer
      newQuantity:
        type: integer
      reason:
        type: string
      notes:
        type: string
      performedBy:
        type: string
      timestamp:
        type: string
        format: date-time

  Location:
    type: object
    properties:
      id:
        type: string
      code:
        type: string
        description: 'Location code (e.g. A-12-03)'
      zone:
        type: string
        enum:
          - A
          - B
          - C
          - D
          - cold-storage
      aisle:
        type: integer
      shelf:
        type: integer
      capacity:
        type: integer
        description: Maximum units this location can hold
      currentLoad:
        type: integer
        description: Units currently stored
      temperature:
        type: string
        description: Required temperature range (cold-storage only)

  LocationCreate:
    type: object
    required:
      - code
      - zone
      - capacity
    properties:
      code:
        type: string
        pattern: '^[A-D]-\d{2}-\d{2}$'
        description: 'Location code format: Zone-Aisle-Shelf (e.g. A-12-03)'
      zone:
        type: string
        enum:
          - A
          - B
          - C
          - D
          - cold-storage
      aisle:
        type: integer
        minimum: 1
        maximum: 50
      shelf:
        type: integer
        minimum: 1
        maximum: 20
      capacity:
        type: integer
        minimum: 1
      temperature:
        type: string

  Shipment:
    type: object
    properties:
      id:
        type: string
      direction:
        type: string
        enum:
          - inbound
          - outbound
      status:
        type: string
        enum:
          - pending
          - in-transit
          - received
          - dispatched
          - cancelled
      carrier:
        type: string
      trackingNumber:
        type: string
      items:
        type: array
        items:
          type: object
          properties:
            itemId:
              type: string
            sku:
              type: string
            quantity:
              type: integer
      expectedDate:
        type: string
        format: date
      actualDate:
        type: string
        format: date
      createdAt:
        type: string
        format: date-time

  ShipmentCreate:
    type: object
    required:
      - direction
      - items
    properties:
      direction:
        type: string
        enum:
          - inbound
          - outbound
      carrier:
        type: string
        maxLength: 100
      trackingNumber:
        type: string
        maxLength: 50
      items:
        type: array
        minItems: 1
        items:
          type: object
          required:
            - itemId
            - quantity
          properties:
            itemId:
              type: string
            quantity:
              type: integer
              minimum: 1
      expectedDate:
        type: string
        format: date
      notes:
        type: string
        maxLength: 500

  Error:
    type: object
    properties:
      code:
        type: string
      message:
        type: string
